<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Hotwire Blog</h1>
<h1>⚡ Hotwire Blog</h1>

<div class="row mt-4">

  <%# LEFT — Form column %>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5>✍️ New Post</h5>

        <%# ✅ id="post_form" — turbo stream target %>
        <div id="post_form">
          <%= render "form", post: Post.new %>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-8">
  <div class="row" id="posts_list">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
      <p>
        <%= link_to "Edit this post", edit_post_path(post), data: { turbo_frame: dom_id(post) } %>
      </p>
    <% end %>
  </div>
  </div>

<%= link_to "New post", new_post_path %>
